pom.xml
*jar
/lib/
/tmp/
/classes/
/target/
.lein-failures
.lein-deps-sum
.lein-*
.clojurescript-output
test/data/*.idx
test/data/*.eval
test/data/gatk-calls-combine*
test/data/*concordance.vcf
test/data/*discordance.vcf
test/data/*.bai
test/data/*-reorder.bam
test/data/*.dict
test/data/*.fai
test/data/*-callable*
test/data/*-annotated.vcf
test/data/*-fullcombine*vcf
test/data/*-mincombine*vcf
test/data/*-filter*vcf
test/data/*-nomnp*vcf
test/data/*-prep*vcf
test/data/*-preclean*vcf
test/data/*-nofilter*vcf
test/data/*-*subset*vcf
test/data/*-*haploid.vcf
test/data/*-*cfilter.vcf
test/data/*-*leftalign.vcf
test/data/*-*samplefix.vcf
test/data/*-*nosv.vcf
test/data/*-classifier.bin
test/data/*-sorted.bed
test/data/*-multicombine.bed
test/data/*sum.csv
test/data/method-comparison-summary*
test/data/prep/
test/data/grading/
test/data/method/
test/data/fosmid/
test/data/web-test/
test/data/single/
test/data/tmp*
