pom.xml
*jar
/lib/
/classes/
.lein-failures
.lein-deps-sum
test/data/*.idx
test/data/*.eval
test/data/gatk-calls-combine*
test/data/*concordance.vcf
test/data/*discordance.vcf
test/data/*.bai
test/data/*-callable*
test/data/*-annotated.vcf
test/data/*-fullcombine*vcf
test/data/*-mincombine*vcf
test/data/*-filter*vcf
test/data/method-comparison-summary*
test/data/prep/
