pom.xml
file.dot
*jar
/lib/
/tmp/
/classes/
/target/
.lein-failures
.lein-deps-sum
.lein-*
.clojurescript-output
test/data/*.idx
test/data/*.eval
test/data/gatk-calls-combine*
test/data/*concordance.vcf
test/data/*discordance.vcf
test/data/*.bai
test/data/*-reorder.bam
test/data/*.dict
test/data/*-callable*
test/data/*-annotated.vcf
test/data/*-fullcombine*vcf
test/data/*-mincombine*vcf
test/data/*-filter*vcf
test/data/*-nomnp*vcf
test/data/*-prep*vcf
test/data/*-preclean*vcf
test/data/*-nofilter*vcf
test/data/*-*subset*vcf
test/data/*-*haploid.vcf
test/data/*-*cfilter.vcf
test/data/*-*ffilter.vcf
test/data/*-*leftalign.vcf
test/data/*-*samplefix.vcf
test/data/*-*fullprep.vcf
test/data/*-*nosv.vcf
test/data/*-*vep.vcf
test/data/*-*worknomnp.vcf
test/data/*-classifier.bin
test/data/*-sorted.bed
test/data/*-multicombine.bed
test/data/*-metrics.db
test/data/*-gemini.db
test/data/gatk-nocalls-*
test/data/*sum.csv
test/data/method-comparison-summary*
test/data/1000genome-multi-ensemble*
test/data/phased/*.idx
test/data/phased/*-sorted.bed
test/data/phased/*-illumina.bed
test/data/phased/*-cmp*.vcf
test/data/phased/work/
test/data/digrade/*.idx
test/data/digrade/*.csv
test/data/digrade/work/
test/data/svs/*.idx
test/data/svs/*-sorted.bed
test/data/svs/*-safesv.vcf
test/data/svs/reference-calls-sv-prep.vcf
test/data/svs/reference-calls-sv-prep-regions.bed
test/data/svs/reference-regions-wsvs.bed
test/data/svs/reference-calls-wsvs.vcf
test/data/svs/work/
test/data/prep/
test/data/grading/
test/data/method/
test/data/multi/
test/data/flex/
test/data/fosmid/
test/data/web-test/
test/data/single/
test/data/tmp*
test/data/txtmp*
