<div class="container" id="scoring-wait-info">
<h3>Community</h3>
<p>
  We're comparing your variant calls against the fosmid reference dataset.
  While you wait, please feel free to explore our Scientific Community
  and visit the
  <a href="https://edgebio.atlassian.net/wiki/display/AGXPPUB/Home">
    Validation Protocol Information Center</a>.
</p>
<p>
  The purpose of this community is to engage knowledgeable genomic and
  genetic researchers, academics, industry professionals, and
  competition teams about any issues arising from the Validation
  Protocol or the competition overall. We value and encourage your
  feedback, so please enter the community to ask us questions or leave
  comments or kudos. The Scientific Community is open to all interested
  parties.
</p>
  
<div id="getsat-widget-515"></div>
<script type="text/javascript"
        src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">
  if (typeof GSFN !== "undefined") {
  GSFN.loadWidget(515,{"containerId":"getsat-widget-515"}); }
  </script>

</div>
